{% load tools %}
{% load i18n %}
{% load currency_display %}
<div class="grid grid-cols-1 gap-4 mt-1 mb-3">
  {% for currency_id, currency in currency_data.items %}
    <div class="w-full">
      <c-ui.currency_card :currency="currency" :currency_id="currency_id"
                          :percentages="currency_percentages"></c-ui.currency_card>
    </div>
  {% empty %}
    <div class="w-full">
      <c-msg.empty
          title="{% translate "No information to display" %}"></c-msg.empty>
    </div>
  {% endfor %}
</div>
