{% extends 'extends/offcanvas.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% translate 'Add quick transaction' %}{% endblock %}

{% block body %}
  <div class="w-full">
    {% if quick_transactions %}
    <ul class="menu bg-base-100 w-full menu-lg">
      {% for qt in quick_transactions %}
        <li><a hx-get="{% url 'quick_transaction_add_as_transaction' quick_transaction_id=qt.id %}"
          class="menu-item {% if qt.type == 'EX' %}text-error{% else %}text-success{% endif %}">{{ qt.name }}</a></li>
      {% endfor %}
    </ul>
    {% else %}
    <c-msg.empty title="{% translate "Nothing to see here..." %}" remove-padding></c-msg.empty>
    {% endif %}
  </div>

{% endblock %}
