{% load i18n %}


<div hx-get="{% url 'insights_latest_transactions' %}" hx-trigger="updated from:window" class="show-loading"
     id="transactions-list" hx-swap="outerHTML">
  {% if transactions %}
    {% for transaction in transactions %}
      <c-transaction.item :transaction="transaction"></c-transaction.item>
    {% endfor %}
    {# Floating bar #}
    <c-ui.transactions-action-bar></c-ui.transactions-action-bar>
  {% else %}
    <c-msg.empty
        title="{% translate 'No recent transactions' %}"></c-msg.empty>
  {% endif %}
</div>
