{% load currency_display %}
{% load i18n %}
<c-ui.fab-single-action
        url="{% url 'exchange_rate_add' %}"
        hx_target="#generic-offcanvas">
</c-ui.fab-single-action>
<div class="container">
  <div class="text-3xl font-bold font-mono w-full mb-3">
    {% spaceless %}
      <div>{% translate 'Exchange Rates' %}</div>
    {% endspaceless %}
  </div>

  <div class="card bg-base-100 shadow-xl">
    <div class="card-header bg-base-200 p-4 rounded-box">
      <div role="tablist" class="tabs tabs-border">
        <input type="radio" name="exchange_rates_tabs" class="tab" aria-label="{% translate 'All' %}"
               checked="checked"
               hx-get="{% url 'exchange_rates_list_pair' %}" hx-trigger="load, click" hx-target="#exchange-rates-table"
               hx-indicator="#exchange-rates-table" />

        {% for pair in pairings %}
          <input type="radio" name="exchange_rates_tabs" class="tab" aria-label="{{ pair.0 }}"
               hx-get="{% url 'exchange_rates_list_pair' %}" hx-trigger="click" hx-target="#exchange-rates-table"
               hx-indicator="#exchange-rates-table" hx-vals='{"from": "{{ pair.1 }}", "to": "{{ pair.2 }}"}' />
        {% endfor %}
      </div>
    </div>

    <div class="card">
      <div id="exchange-rates-table" class="show-loading"></div>
    </div>

  </div>
</div>
