{% extends "layouts/base.html" %}

{% load i18n %}

{% block title %}{% translate 'Quick Transactions' %}{% endblock %}

{% block content %}
<c-ui.fab-single-action
        url="{% url 'quick_transaction_add' %}"
        hx_target="#generic-offcanvas">
</c-ui.fab-single-action>
<div class="container px-md-3 py-3 column-gap-5">
  <div class="text-3xl font-bold font-mono w-full mb-3">
    {% spaceless %}
    <div>{% translate 'Quick Transactions' %}</div>
    {% endspaceless %}
  </div>

  <div id="quick-transactions-table" class="show-loading" hx-get="{% url 'quick_transactions_list' %}" hx-trigger="load, updated from:window"></div>
</div>
{% endblock %}
