{% load i18n %}
<c-ui.fab-single-action
    url="{% url 'account_group_add' %}"
    hx_target="#generic-offcanvas">
</c-ui.fab-single-action>
<div class="container">
  <div class="text-3xl font-bold font-mono w-full mb-3">
    {% spaceless %}
      <div>{% translate 'Account Groups' %}</div>
    {% endspaceless %}
  </div>

  <div class="card bg-base-100 shadow-xl">
    <div class="card-body">
      {% if account_groups %}
        <c-config.search></c-config.search>
        <div class="overflow-x-auto">
          <table class="table table-zebra">
            <thead>
            <tr>
              <th scope="col" class="table-col-auto"></th>
              <th scope="col">{% translate 'Name' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for account_group in account_groups %}
              <tr class="account_group">
                <td class="table-col-auto">
                  <div class="join" role="group" aria-label="{% translate 'Actions' %}">
                    <a class="btn btn-secondary btn-sm join-item"
                       role="button"
                       data-tippy-content="{% translate "Edit" %}"
                       hx-get="{% url 'account_group_edit' pk=account_group.id %}"
                       hx-target="#generic-offcanvas">
                      <i class="fa-solid fa-pencil fa-fw"></i></a>
                    {% if not account_group.owner %}
                      <a class="btn btn-secondary btn-sm join-item"
                         role="button"
                         data-tippy-content="{% translate "Take ownership" %}"
                         hx-get="{% url 'account_group_take_ownership' pk=account_group.id %}">
                        <i class="fa-solid fa-crown fa-fw"></i></a>
                    {% endif %}
                    {% if user == account_group.owner %}
                      <a class="btn btn-secondary btn-sm join-item"
                         role="button"
                         hx-target="#generic-offcanvas"
                         hx-swap="innerHTML"
                         data-tippy-content="{% translate "Share" %}"
                         hx-get="{% url 'account_group_share_settings' pk=account_group.id %}">
                        <i class="fa-solid fa-share fa-fw"></i></a>
                    {% endif %}
                    <a class="btn btn-error btn-sm join-item"
                       role="button"
                       data-tippy-content="{% translate "Delete" %}"
                       hx-delete="{% url 'account_group_delete' pk=account_group.id %}"
                       hx-trigger='confirmed'
                       data-bypass-on-ctrl="true"
                       data-title="{% translate "Are you sure?" %}"
                       data-text="{% translate "You won't be able to revert this!" %}"
                       data-confirm-text="{% translate "Yes, delete it!" %}"
                       _="install prompt_swal"><i class="fa-solid fa-trash fa-fw"></i></a>
                  </div>
                </td>
                <td>{{ account_group.name }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      {% else %}
        <c-msg.empty title="{% translate "No account groups" %}" remove-padding></c-msg.empty>
      {% endif %}
    </div>
  </div>
</div>
