{% load i18n %}
<c-ui.fab-single-action
        url="{% url 'transaction_rule_add' %}"
        hx_target="#generic-offcanvas">
</c-ui.fab-single-action>
<div class="container">
  <div class="text-3xl font-bold font-mono w-full mb-3">
    {% spaceless %}
      <div>{% translate 'Rules' %}</div>
    {% endspaceless %}
  </div>

  <div class="card bg-base-100 shadow-xl">
    <div class="card-body overflow-x-auto">
      {% if transaction_rules %}
        <c-config.search></c-config.search>
        <div class="overflow-x-auto">
          <table class="table table-hover">
            <thead>
            <tr>
              <th scope="col" class="table-col-auto"></th>
              <th scope="col" class="table-col-auto"></th>
              <th scope="col" class="table-col-auto">{% translate 'Order' %}</th>
              <th scope="col">{% translate 'Name' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for rule in transaction_rules %}
              <tr class="transaction_rule">
                <td class="table-col-auto">
                  <div class="join" role="group" aria-label="{% translate 'Actions' %}">
                    <a class="btn btn-secondary btn-sm join-item"
                       role="button"
                       data-tippy-content="{% translate "View" %}"
                       hx-get="{% url 'transaction_rule_view' transaction_rule_id=rule.id %}"
                       hx-target="#persistent-generic-offcanvas-left">
                      <i class="fa-solid fa-eye fa-fw"></i></a>
                    {% if not rule.owner %}
                      <a class="btn btn-secondary btn-sm join-item"
                         role="button"
                         data-tippy-content="{% translate "Take ownership" %}"
                         hx-get="{% url 'transaction_rule_take_ownership' transaction_rule_id=rule.id %}">
                        <i class="fa-solid fa-crown fa-fw"></i></a>
                    {% endif %}
                    {% if user == rule.owner %}
                      <a class="btn btn-secondary btn-sm join-item"
                         role="button"
                         hx-target="#generic-offcanvas"
                         hx-swap="innerHTML"
                         data-tippy-content="{% translate "Share" %}"
                         hx-get="{% url 'transaction_rule_share_settings' pk=rule.id %}">
                        <i class="fa-solid fa-share fa-fw"></i></a>
                    {% endif %}
                    <a class="btn btn-error btn-sm join-item"
                       role="button"
                       data-tippy-content="{% translate "Delete" %}"
                       hx-delete="{% url 'transaction_rule_delete' transaction_rule_id=rule.id %}"
                       hx-trigger='confirmed'
                       data-bypass-on-ctrl="true"
                       data-title="{% translate "Are you sure?" %}"
                       data-text="{% translate "You won't be able to revert this!" %}"
                       data-confirm-text="{% translate "Yes, delete it!" %}"
                       _="install prompt_swal"><i class="fa-solid fa-trash fa-fw"></i></a>
                  </div>
                </td>
                <td class="table-col-auto">
                  <a class="no-underline cursor-pointer"
                     role="button"
                     data-tippy-content="
                       {% if rule.active %}{% translate "Deactivate" %}{% else %}{% translate "Activate" %}{% endif %}"
                     hx-get="{% url 'transaction_rule_toggle_activity' transaction_rule_id=rule.id %}">
                    {% if rule.active %}<i class="fa-solid fa-toggle-on text-success"></i>{% else %}
                      <i class="fa-solid fa-toggle-off text-error"></i>{% endif %}
                  </a>
                </td>
                <td class="table-col-auto text-center">
                  <div>{{ rule.order }}</div>
                </td>
                <td>
                  <div>{{ rule.name }}</div>
                  <div class="text-gray-400">{{ rule.description }}</div>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      {% else %}
        <c-msg.empty title="{% translate "No rules" %}" remove-padding></c-msg.empty>
      {% endif %}
    </div>
  </div>
</div>
