{% extends "layouts/base.html" %}
{% load i18n %}

{% block title %}{% translate 'Export and Restore' %}{% endblock %}

{% block content %}
  <div class="flex items-center justify-center min-h-[90dvh]">
    <div class="flex gap-4">
      <button class="btn btn-error btn-square w-24 h-24 flex flex-col items-center justify-center"
              hx-get="{% url 'export_form' %}"
              hx-target="#generic-offcanvas">
        <i class="fa-solid fa-download mb-1"></i>
        <span class="text-sm">{% trans 'Export' %}</span>
      </button>
      <button class="btn btn-success btn-square w-24 h-24 flex flex-col items-center justify-center"
              hx-get="{% url 'restore_form' %}"
              hx-target="#generic-offcanvas">
        <i class="fa-solid fa-upload mb-1"></i>
        <span class="text-sm">{% trans 'Restore' %}</span>
      </button>
    </div>
  </div>
{% endblock %}
