{% load i18n %}
<c-ui.fab-single-action
        url="{% url 'installment_plan_add' %}"
        hx_target="#generic-offcanvas">
</c-ui.fab-single-action>
<div class="container px-md-3 py-3 column-gap-5">
  <div class="text-3xl font-bold font-mono w-full mb-3">
    {% spaceless %}
    <div>{% translate 'Installment Plans' %}</div>
    {% endspaceless %}
  </div>

  <div class="card bg-base-100 shadow-xl">
    <div class="card-header bg-base-200 p-4 rounded-box">
      <div role="tablist" class="tabs tabs-border">
        <input type="radio" name="installment_plan_tabs" class="tab" aria-label="{% translate 'Active' %}" checked="checked"
               hx-get="{% url 'active_installment_plans_list' %}" hx-trigger="load, click" hx-target="#installment-plans-table"
               hx-indicator="#installment-plans-table" />
        <input type="radio" name="installment_plan_tabs" class="tab" aria-label="{% translate 'Finished' %}"
               hx-get="{% url 'finished_installment_plans_list' %}" hx-trigger="click" hx-target="#installment-plans-table" hx-indicator="#installment-plans-table" />
      </div>
    </div>

    <div class="card-body">
      <div id="installment-plans-table" class="show-loading"></div>
    </div>

  </div>
</div>
