{% load i18n %}
<div class="offcanvas-header flex justify-between items-center border-b border-base-content/10 bg-base-300">
  <h5 class="offcanvas-title font-medium">{% block title %}{% endblock %}</h5>
  <button type="button" class="btn btn-ghost btn-sm btn-circle" aria-label="{% trans 'Close' %}" data-bs-dismiss="offcanvas"><i class="fa-solid fa-xmark"></i></button>
</div>
<div id="generic-offcanvas-body" class="offcanvas-body"
     _="install init_tom_select
        install init_datepicker">
  {% block body %}{% endblock %}
</div>
