{% extends 'extends/offcanvas.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans 'Test' %} - {% trans 'Create' %}{% endblock %}

{% block body %}
  <form hx-post="{% url 'transaction_rule_dry_run_created' pk=rule.id %}" hx-target="#generic-offcanvas"
        hx-indicator="#dry-run-created-result, closest form" class="show-loading" novalidate>
    {% crispy form %}
  </form>
  <hr class="hr my-3">
  <div id="dry-run-created-result" class="show-loading">
    {% include 'rules/fragments/transaction_rule/dry_run/visual.html' with logs=logs results=results %}
  </div>
{% endblock %}
