<div id="persistent-generic-offcanvas" class="offcanvas offcanvas-end offcanvas-size-xl z-1100!"
     data-bs-backdrop="static"
     tabindex="-1"
     _="on htmx:afterSettle call Offcanvas.getOrCreateInstance(me).show() end
        on htmx:beforeOnLoad[detail.boosted] call Offcanvas.getOrCreateInstance(me).hide()
        on force_hide_offcanvas call Offcanvas.getOrCreateInstance(me).hide() end
        on hidden.bs.offcanvas set my innerHTML to '' end">
</div>
<div id="persistent-generic-offcanvas-left" class="offcanvas offcanvas-start offcanvas-size-xl z-1100!"
     data-bs-backdrop="static"
     tabindex="-1"
     _="on htmx:afterSettle call Offcanvas.getOrCreateInstance(me).show() end
        on htmx:beforeOnLoad[detail.boosted] call Offcanvas.getOrCreateInstance(me).hide()
        on force_hide_offcanvas call Offcanvas.getOrCreateInstance(me).hide() end
        on hidden.bs.offcanvas set my innerHTML to '' end">
</div>


<div id="generic-offcanvas" class="offcanvas offcanvas-end offcanvas-size-xl z-1100!"
     data-bs-backdrop="static"
     tabindex="-1"
     _="on htmx:afterSettle call Offcanvas.getOrCreateInstance(me).show() end
        on hide_offcanvas call Offcanvas.getOrCreateInstance(me).hide() end
        on htmx:beforeOnLoad[detail.boosted] call Offcanvas.getOrCreateInstance(me).hide()
        on hidden.bs.offcanvas set my innerHTML to '' end">
</div>
<div id="generic-offcanvas-left" class="offcanvas offcanvas-start offcanvas-size-xl z-1100!"
     data-bs-backdrop="static"
     tabindex="-1"
     _="on htmx:afterSettle call Offcanvas.getOrCreateInstance(me).show() end
        on hide_offcanvas call Offcanvas.getOrCreateInstance(me).hide() end
        on htmx:beforeOnLoad[detail.boosted] call Offcanvas.getOrCreateInstance(me).hide()
        on hidden.bs.offcanvas set my innerHTML to '' end">
</div>
