{# We use this to preload dynamically generated tailwind classes so the compiler can build them ahead of time #}

<div class="text-blue-800"></div>
<div class="text-yellow-800"></div>
<div class="text-red-800"></div>
<div class="text-green-800"></div>
<div class="text-blue-400"></div>
<div class="text-yellow-400"></div>
<div class="text-red-400"></div>
<div class="text-green-400"></div>
<div class="bg-blue-300"></div>
<div class="bg-yellow-300"></div>
<div class="bg-red-300"></div>
<div class="bg-green-300"></div>
<div class="btn-primary"></div>
<div class="btn-secondary"></div>
<div class="btn-accent"></div>
<div class="btn-neutral"></div>
<div class="btn-info"></div>
<div class="btn-success"></div>
<div class="btn-error"></div>
<div class="btn-warning"></div>