{% load i18n %}
<c-ui.fab-single-action
        url="{% url 'currency_add' %}"
        hx_target="#generic-offcanvas">
</c-ui.fab-single-action>
<div class="container">
  <div class="text-3xl font-bold font-mono w-full mb-3">
    {% spaceless %}
    <div>{% translate 'Currencies' %}</div>
    {% endspaceless %}
  </div>

  <div class="card bg-base-100 shadow-xl">
    <div class="card-body overflow-x-auto">
      {% if currencies %}
      <c-config.search></c-config.search>
      <div class="overflow-x-auto">
        <table class="table table-zebra">
        <thead>
          <tr>
            <th scope="col" class="table-col-auto"></th>
            <th scope="col" class="table-col-auto">{% translate 'Code' %}</th>
            <th scope="col">{% translate 'Name' %}</th>
            <th scope="col">{% translate 'Archived' %}</th>
          </tr>
        </thead>
        <tbody>
          {% for currency in currencies %}
          <tr class="currency">
            <td class="table-col-auto">
              <div class="join" role="group" aria-label="{% translate 'Actions' %}">
                <a class="btn btn-secondary btn-sm join-item"
                      role="button"
                      data-tippy-content="{% translate "Edit" %}"
                      hx-get="{% url 'currency_edit' pk=currency.id %}"
                      hx-target="#generic-offcanvas">
                  <i class="fa-solid fa-pencil fa-fw"></i></a>
                <a class="btn btn-error btn-sm join-item"
                        role="button"
                        data-tippy-content="{% translate "Delete" %}"
                        hx-delete="{% url 'currency_delete' pk=currency.id %}"
                        hx-trigger='confirmed'
                        data-bypass-on-ctrl="true"
                        data-title="{% translate "Are you sure?" %}"
                        data-text="{% translate "You won't be able to revert this!" %}"
                        data-confirm-text="{% translate "Yes, delete it!" %}"
                        _="install prompt_swal"><i class="fa-solid fa-trash fa-fw"></i></a>
              </div>
            </td>
            <td class="table-col-auto">{{ currency.code }}</td>
            <td>{{ currency.name }}</td>
            <td>{% if currency.is_archived %}<i class="fa-solid fa-solid fa-check text-success"></i>{% endif %}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      </div>
      {% else %}
      <c-msg.empty title="{% translate "No currencies" %}" remove-padding></c-msg.empty>
      {% endif %}
    </div>
  </div>
</div>
